<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.restaurant.service.impl.MenuFileMapper">

    <insert id="insertMenuFile"
            parameterType="egovframework.restaurant.vo.MenuFileVO">

        INSERT INTO MENU_FILE (
            FILE_ID,
            MENU_ID,
            ORIGINAL_NAME,
            SAVED_NAME,
            FILE_PATH,
            CONTENT_TYPE,
            FILE_SIZE,
            CREATED_AT
        )
        VALUES (
            MENU_FILE_SEQ.NEXTVAL,
            #{menuId},
            #{originalName},
            #{savedName},
            #{filePath},
            #{contentType},
            #{fileSize},
            SYSDATE
        )

    </insert>

    <select id="selectMenuFile"
            parameterType="int"
            resultType="egovframework.restaurant.vo.MenuFileVO">

        SELECT
            FILE_ID       AS fileId,
            MENU_ID       AS menuId,
            ORIGINAL_NAME AS originalName,
            SAVED_NAME    AS savedName,
            FILE_PATH     AS filePath,
            CONTENT_TYPE  AS contentType,
            FILE_SIZE     AS fileSize,
            CREATED_AT    AS createdAt
        FROM MENU_FILE
        WHERE MENU_ID = #{menuId}

    </select>

    <delete id="deleteMenuFile"
            parameterType="int">

        DELETE FROM MENU_FILE
        WHERE MENU_ID = #{menuId}

    </delete>

</mapper>